<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head">
</head>
<body>

<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>알림페이지</h1>
    </div>

    <div th:if="${newNoticeCount > 0}" class="timeline">
        <p th:text="|${newNoticeCount}개의 새로운 알람이 있습니다|">알림개수</p>
        <ul>
            <li th:each="notice : ${noticeList}">
                    <span th:text="${#temporals.format(notice.getNoticeTime(), 'MM-dd')}">알림날짜</span> <a th:href="@{'/notice/' + ${notice.getId()} + '/delete'}"><p style="float:right;">X</p></a>
                <a href="#about" th:href="@{${notice.getUrl()}}">
                <div class="content">
                    <h3 th:if="${notice.getNoticeType() == T(com.oneqst.notice.NoticeType).POST_COMMENT}" th:text="|${notice.getTitle()} 게시글에 ${notice.getByMember()} 님으로 부터 댓글이 달렸습니다|"></h3>
                    <h3 th:if="${notice.getNoticeType() == T(com.oneqst.notice.NoticeType).QUEST_INVITE}" th:text="|${notice.getByMember()} 님으로 부터 ${notice.getTitle()} 퀘스트 초대를 받았습니다|"></h3>
                    <p th:text="${notice.getContent()}">?</p>
                </div>
                </a>
            </li>
        </ul>
    </div>

</main>

<div th:replace="fragments.html :: footer"></div>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>