<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <title>"myCommentPage"</title>
</head>

<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main class="main" id="main">
    <div class="row">
        <br style="border: 3px">
        <div style="text-align: left; width: 100px">
            <a th:href="@{'/activity/posts'}">
                <h5 style="display: inline; color: #4553e8; font-weight: bold"
                    onmouseover="this.style.textDecoration='underline'"
                    onmouseout="this.style.textDecoration=''">게시글</h5>
            </a>
        </div>
        <div style="float: left; width: 80px">
            <a th:href="@{'/activity/comments'}">
                <h5 style="display: inline"
                    onmouseover="this.style.textDecoration='underline'"
                    onmouseout="this.style.textDecoration=''">댓글</h5>
            </a>
        </div>
        <div style="float: left; width: 80px">
            <a th:href="@{'/activity/quest/auths'}">
                <h5 onmouseover="this.style.textDecoration='underline'"
                    onmouseout="this.style.textDecoration=''">인증</h5>
            </a>
        </div>
    </div>

    <p th:if="${postList.size() != 0}" th:text="|${postList.size()}개의 글이 있습니다.|">게시글 개수</p>
    <p th:unless="${postList.size() != 0}" th:text="'작성하신 글이 없습니다'">게시글 개수</p>
    <hr style="border: 2px">

    <div>
        <ul th:if="${postList.size() > 0}">
            <li style="list-style: none" th:each="post : ${postList}">
                <div class="card" style="padding: 15px; border-radius: 10px">
                    <a th:href="@{'/quest/' + ${post.questUrl} + '/post/' + ${post.postId}}">
                        <p th:text="${post.postTitle}" onmouseover="this.style.textDecoration='underline'"
                           onmouseout="this.style.textDecoration=''">게시글 제목</p>
                    </a>
                    <a th:href="@{'/quest/' + ${post.questUrl}}">
                        <p style="display: inline; font-size: small; color: gray"
                           th:text="${post.questTitle}"
                           onmouseover="this.style.textDecoration='underline'"
                           onmouseout="this.style.textDecoration=''">퀘스트 제목</p>
                    </a>
                    <p style="font-size: small; color: gray"
                       th:text="${#temporals.format(post.getTime(), 'yyyy-MM-dd')}">게시글 작성 날짜</p>
                </div>
            </li>
        </ul>
    </div>
</main>

<div th:replace="fragments.html :: footer"></div>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
</html>