<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <title>"myCommentPage"</title>
</head>

<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main class="main" id="main">
    <div class="page-title">
        <div class="col text-center">
            <h1>나의 댓글</h1>
            <br>
        </div>
    </div>

    <!--    버튼 추가 예정-->
    <div class="container">
        <div class="row">
            <div class="col text-center">
<!--                <button th:onclick="'location.href=\''+ @{'/activity/quests'} + '\''" type="button"-->
<!--                        class="btn btn-outline-primary">퀘스트-->
<!--                </button>-->
                <button th:onclick="'location.href=\''+ @{'/activity/posts'} + '\''" type="button"
                        class="btn btn-outline-primary">게시물
                </button>
                <button th:onclick="'location.href=\''+ @{'/activity/comments'} + '\''" type="button"
                        class="btn btn-outline-primary">댓글
                </button>
                <button th:onclick="'location.href=\''+ @{'/activity/quest/auths'} + '\''" type="button"
                        class="btn btn-outline-primary">인증
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="timeline">
        <p th:if="${questList.size() != 0}" th:text="|${questList.size()}개의 퀘스트 활동이 있습니다.|">댓글 개수</p>
        <p th:unless="${questList.size() != 0}" th:text="'활동중인 퀘스트가 없습니다'">퀘스트 개수</p>
        <ul th:if="${questList.size() > 0}">
            <li th:each="quest : ${questList}">
                <span th:text="${#temporals.format(quest.getStartTime(), 'yyyy-MM-dd HH:mm')}">퀘스트 활성 기간</span>
                <a href="#about" th:href="@{'/quest/' + ${quest.getUrl()}}">
                    <div class="content">
                        <br>
                        <h3 th:text="${quest.getContent()()}">댓글</h3>
                        <small th:text="|${quest.getTitle()}|">퀘스트 제목</small>
                        <hr>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</main>

<div th:replace="fragments.html :: footer"></div>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
</html>