<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">

    <div class="py-5 text-center" th:if="${error}">
        <p class="lead">원퀘스트 이메일 확인</p>
        <div class="alert alert-danger" role="alert">
            이메일 확인 링크가 아닙니다.
        </div>
    </div>

    <div class="py-5 text-center" th:if="${error == null}">
        <img src="/images/logo_sm.png" width="160" height="160">
        <p></p>
        <p class="lead">안녕하세요 원퀘스트 입니다</p>
        <h2>
            <span th:text="${nickname}">회원</span>님 이메일 인증이 완료되었습니다.
        </h2>
    </div>

    <div class="fragments.html :: footer"></div>
</body>
</html>