<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ======= 헤더 ======= -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>원퀘스트</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="/assets/img/logo.png" rel="icon">
    <link href="/assets/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<!-- ======= 네비게이션 바 ver 부트스트랩 ======= -->
<header th:fragment="nav" id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/}" class="logo d-flex align-items-center">
        <img src="/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">OneQuest</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- 로고 사진 -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="GET" action="/search/list">
        <input type="text" name="title" placeholder="Search" title="Enter search keyword">  <!-- 검색 창 -->
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- 검색 바 -->

    <nav sec:authorize="isAuthenticated()" class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <!-- 알림바 -->
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i th:class="${newNoticeCount > 0} ? 'bi bi-bell-fill' : 'bi bi-bell'"></i>
            <span th:text="${newNoticeCount}" class="badge bg-primary badge-number">알림개수</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">

            <li class="dropdown-header">
              <span th:text="|${newNoticeCount}개의 새로운 알림이 있습니다|"></span>
              <a th:href="@{'/notice'}"><span class="badge rounded-pill bg-primary p-2 ms-2">전체보기</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li th:each="notice : ${noticeList}" class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <a th:href="@{'/notice/read/' + ${notice.id}}">
                <h4 th:if="${notice.getNoticeType() == T(com.oneqst.notice.NoticeType).POST_COMMENT}" th:text="|${notice.getTitle()} 게시글에 ${notice.getByMember()}님의 댓글이 달렸습니다|"></h4>
                <h4 th:if="${notice.getNoticeType() == T(com.oneqst.notice.NoticeType).QUEST_INVITE}" th:text="|${notice.getByMember()}님의 ${notice.getTitle()} 퀘스트 초대를 받았습니다|"></h4>
                <h4 th:if="${notice.getNoticeType() == T(com.oneqst.notice.NoticeType).QUEST_AUTH}" th:text="|${notice.getTitle()} 게시글이 인증을 받았습니다|"></h4>
                <p th:text="${notice.getContent()}"></p>
                <p class="fromNow" th:text="${notice.getNoticeTime()}">시간</p>
                </a>
              </div>
            </li>

          </ul>
        </li>


        <li sec:authorize="isAuthenticated()" class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:if="${#strings.isEmpty(member.profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle">
            <img th:if="${!#strings.isEmpty(member.profileImage)}" th:src="${member.profileImage}" alt="Profile" class="rounded-circle">
            <span th:text="${member.nickname}" class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${member.nickname}"></h6>
<!--              <h6 th:text="${#authentication.name}"></h6>-->
              <span th:text="${member.job}">학생</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{'/profile/' + ${member.nickname}}">
                <i class="bi bi-person"></i>
                <span>마이 프로필</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>설정</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li sec:authorize="isAuthenticated()">
              <a class="dropdown-item d-flex align-items-center" href="#">
                <form action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
              </a>
            </li>


          </ul><!-- End Profile Dropdown Items -->
        </li><!-- 프로필바 -->

      </ul>
    </nav><!-- 알림창, 프로필 설정 드롭다운 바 -->

  </header>

<!-- ======= 사이드 바 ======= -->
<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a sec:authorize="isAuthenticated()" class="nav-link " th:href="@{'/profile/' + ${member.nickname}}">
          <i class="bi bi-person"></i>
          <span>마이 프로필</span>
        </a>
      </li><!-- 프로필 사이드 바 -->

      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/sign-up}">
          <i class="bi bi-card-list"></i>
          <span>회원 가입</span>
        </a>
      </li><!-- 회원가입 사이드바 -->

      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/login}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- 로그인 사이드 바 -->

        <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link collapsed" th:href="@{/new-quest}">
          <i class="bi bi-question-square"></i>
          <span>퀘스트 생성</span>
        </a>
      </li><!-- 퀘스트 생성 사이드 바 -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>내가 쓴 글</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>내가 쓴 댓글</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside>


<!-- ======= 푸터 ======= -->
<footer th:fragment="footer" id="footer" class="footer">
    <div class="copyright">
      &copy;<strong><span>2022 캡스톤 디자인</span></strong>.
    </div>
</footer>

<!-- ======= js 폼 유효성 검사 ======= -->
<script type="application/javascript" th:fragment="form-validation">
    window.addEventListener('load', () => {
            const forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
</script>

<div th:fragment="timeFormat">
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="application/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    moment.locale('ko');
    $(".time").text(function (index, dateTime) {
      return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('MMMM Do, h:mm');
    });
    $(".yearDateTime").text(function (index, dateTime) {
      return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL h:mm');
    });
    $(".fromNow").text(function(index, dateTime) {
      return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
    });

  })
</script>
</div>

</html>