<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments.html :: head">
</head>
<body>

<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>마이페이지</h1>
    </div>

    <section class="section profile">
        <div class="row">

            <!-- 프로필 요약 탭 -->
            <div class="col-xl-4">
                <div class="card">
                    <div id="cropped-new-profile-image"
                         class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img th:if="${#strings.isEmpty(profileMember.profileImage)}" src="/assets/img/logo.png"
                             alt="Profile">
                        <img th:if="${!#strings.isEmpty(profileMember.profileImage)}"
                             th:src="${profileMember.profileImage}" alt="Profile">
                        <h2 th:text="${profileMember.nickname}"></h2>
                        <div class="social-links mt-2">
                            <a th:href="@{${profileMember.url}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">

                        <!-- 프로필 탭 -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    프로필
                                </button>
                            </li>

                            <li class="nav-item">
                                <button th:if="${isOwner}" class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-edit">프로필 수정
                                </button>
                            </li>

                            <li class="nav-item">
                                <button th:if="${isOwner}" class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-change-password">비밀번호 변경
                                </button>
                            </li>

                            <li class="nav-item">
                                <button th:if="${isOwner}" class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#tag-recommend">태그 등록
                                </button>
                            </li>


                        </ul>

                        <div class="tab-content pt-2">
                            <!-- 프로필 오버뷰 -->
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">소개</h5>
                                <p th:text="${profileMember.introduce}" class="small fst-italic"></p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">닉네임</div>
                                    <div th:text="${profileMember.nickname}" class="col-lg-9 col-md-8"></div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">직업</div>
                                    <div th:text="${profileMember.job}" class="col-lg-9 col-md-8"></div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">주소</div>
                                    <div th:text="${profileMember.address}" class="col-lg-9 col-md-8">주소
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">이메일</div>
                                    <div th:text="${profileMember.email}" class="col-lg-9 col-md-8">이메일 주소
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">가입날짜</div>
                                    <div th:text="${#temporals.format(profileMember.signUpTime, 'yyyy-MM-dd')}" class="col-lg-9 col-md-8">가입날짜
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">관심 태그</div>
                                    <div th:text="${profileMember.getTags()}" class="col-lg-9 col-md-8">관심 태그
                                    </div>
                                </div>
                            </div>

                            <!-- 프로필 수정 폼 -->
                            <div th:if="${isOwner}" class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">프로필 사진</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="file" class="form-control" id="profile-image-file">
                                    </div>
                                    <div id="new-profile-image" class="mt-3 mb-3"></div>
                                    <div id="new-profile-image-control">
                                        <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                                    </div>
                                </div>

                                <form th:action="@{/profile/update}" th:object="${profile}" method="post" novalidate>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">닉네임</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{nickname}" name="fullName" type="text"
                                                   class="form-control" id="fullName">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}"
                                                   th:errors="*{nickname}">닉네임 중복 에러</small>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">소개</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{introduce}" name="about" class="form-control" id="about"
                                                   style="height: 100px"></input>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">직업</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{job}" name="job" type="text" class="form-control"
                                                   id="Job"></input>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">주소</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{address}" name="address" type="text" class="form-control"
                                                   id="Address"></input>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{email}" name="email" type="email" class="form-control"
                                                   id="Email">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                                   th:errors="*{email}">이메일 중복 에러</small>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram
                                            주소</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{url}" name="instagram" type="text" class="form-control"
                                                   id="Instagram" value="https://instagram.com/#">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input id="profileImage" type="hidden" th:field="*{profileImage}"
                                               class="form-control"/>
                                        <input id="currentNickname" type="hidden" th:field="*{currentNickname}"
                                               class="form-control"/>
                                        <input id="currentEmail" type="hidden" th:field="*{currentEmail}"
                                               class="form-control"/>
                                    </div>


                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">프로필 수정</button>
                                    </div>

                                </form>

                            </div>

                            <!-- 비밀번호 변경 폼 -->
                            <div th:if="${isOwner}" class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form th:action="@{/profile/update/password}" th:object="${password}" method="post">

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재
                                            비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{currentPassword}" name="password" type="password"
                                                   class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">새로운
                                            비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{newPassword}" name="newpassword" type="password"
                                                   class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">비밀번호
                                            재입력</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{reNewPassword}" name="renewpassword" type="password"
                                                   class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                                    </div>
                                </form>

                            </div>

                            <!-- 태그 등록 수정 폼 -->
                            <div th:if="${isOwner}" class="tab-pane fade profile-edit pt-3" id="tag-recommend">

                                <form th:action="@{/profile/update/tags}" th:object="${tagDto}" method="post" novalidate>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">관심있는 태그</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{title}" name="tag" type="text" class="form-control" id="tag">
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">프로필 수정</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function () {
        cropper = '';
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $profileImage = $("#profileImage");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();

        $("#profile-image-file").change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.width = 250;

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $newProfileImage.html(newImage);
            $newProfileImage.hide();
            $resultImage.html(newImage);
            $cutBtn.hide();
            $resetBtn.hide();
            $profileImage.val(dataUrl);
        });
    });

</script>


</body>
</html>