<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main class="py-3">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">OneQuest</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">퀘스트 수정</h5>
                                    <p class="text-center small">퀘스트 수정 페이지입니다</p>
                                </div>

                                <div class="col-12">
                                    <label for="profileImage" class="form-label">퀘스트 사진</label>
                                    <div>
                                        <input type="file" class="form-control mb-3" id="profile-image-file">
                                    </div>
                                    <div id="new-profile-image" class="mt-3 mb-3"></div>
                                    <div id="new-profile-image-control">
                                        <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                                    </div>
                                </div>

                                <form class="row g-3 needs-validation"
                                      th:action="@{'/quest/' + ${quest.questUrl} + '/update'}"
                                      th:object="${questUpdateDto}" method="post" novalidate>
                                    <div class="col-12">
                                        <label for="questTitle" class="form-label">퀘스트 제목</label>
                                        <input type="text" name="questTitle" class="form-control" id="questTitle"
                                               th:field="*{questTitle}" required>
                                        <div class="invalid-feedback">퀘스트 제목을 입력하시오</div>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('questTitle')}"
                                               th:errors="*{questTitle}">questTitle Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questShortExplain" class="form-label">짧은 소개</label>
                                        <input type="text" name="questShortExplain" class="form-control"
                                               id="questShortExplain" th:field="*{questIntroduce}" required>
                                        <div class="invalid-feedback">퀘스트 소개를 입력하시오</div>
                                        <small class="form-text text-danger"
                                               th:if="${#fields.hasErrors('questIntroduce')}"
                                               th:errors="*{questIntroduce}">questIntroduce Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questExplain" class="form-label">퀘스트 설명</label>
                                        <input type="text" name="questExplain" class="form-control" id="questExplain"
                                               th:field="*{questExplain}" style="height: 200px" required>
                                        <div class="invalid-feedback">퀘스트 설명을 입력하시오</div>
                                        <small class="form-text text-danger"
                                               th:if="${#fields.hasErrors('questExplain')}" th:errors="*{questExplain}">questExplain
                                            Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questStartTime" class="form-label">시작 날짜</label>
                                        <input type="date" name="questStartTime" class="form-control"
                                               id="questStartTime" th:field="*{questStartTime}" required>
                                        <div class="invalid-feedback">시작 날짜를 입력하시오!</div>
                                        <small class="form-text text-danger"
                                               th:if="${#fields.hasErrors('questStartTime')}"
                                               th:errors="*{questStartTime}">questStartTime Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questEndTime" class="form-label">마감 날짜</label>
                                        <input type="date" name="questEndTime" class="form-control" id="questEndTime"
                                               th:field="*{questEndTime}" required>
                                        <div class="invalid-feedback">마감 날짜를 입력하시오!</div>
                                        <small class="form-text text-danger"
                                               th:if="${#fields.hasErrors('questEndTime')}" th:errors="*{questEndTime}">questEndTime
                                            Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questUrl" class="form-label">퀘스트 주소</label>
                                        <input type="text" name="questExplain" class="form-control" id="questUrl"
                                               th:field="*{questUrl}" required>
                                        <div class="invalid-feedback">퀘스트 주소를 입력하시오</div>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('questUrl')}"
                                               th:errors="*{questUrl}">questUrl Error</small>
                                    </div>

                                    <div class="col-12">
                                        <label for="questUrl" class="form-label">해시태그</label>
                                        <input type="text" name="questExplain" class="form-control" id="questTag"
                                               th:field="*{tag}" required placeholder="예) #공부 #운동 #토익">
                                        <div class="invalid-feedback">해시태그</div>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('tag')}"
                                               th:errors="*{tag}">questTag Error</small>
                                    </div>

                                    <div>
                                        <input id="profileImage" type="hidden" th:field="*{questImage}"
                                               class="form-control"/>
                                        <input id="currentUrl" type="hidden" th:field="*{currentUrl}"
                                               class="form-control"/>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">수정하기</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </div>
</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>
<script th:replace="fragments.html :: form-validation"></script>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function () {
        cropper = '';
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $profileImage = $("#profileImage");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();

        $("#profile-image-file").change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.width = 250;

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $newProfileImage.html(newImage);
            $newProfileImage.hide();
            $resultImage.html(newImage);
            $cutBtn.hide();
            $resetBtn.hide();
            $profileImage.val(dataUrl);
        });
    });

</script>
</html>