<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>


<main id="main" class="main">

    <!-- 퀘스트 리스트 -->
    <section id="portfolio" class="portfolio">
        <div class="container col-xl-12">
            <div class="pagetitle">
                <span th:if="${(searchTitle.isEmpty())}" th:text="|총 ${questList.getTotalElements()} 개의 퀘스트가 있습니다.|"></span>
                <span th:unless="${(searchTitle.isEmpty())}" th:text="|${searchTitle}에 대한 검색결과입니다. (${questList.getTotalElements()}개)|"></span>
            </div>

            <div class="row portfolio-container">
                <div sec:authorize="isAuthenticated()" th:each="quest: ${questList.getContent()}"
                     class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:if="${#strings.isEmpty(quest.questImage)}" src="/assets/img/logo.png" alt="Profile">
                            <img th:if="${!#strings.isEmpty(quest.questImage)}" th:src="${quest.getQuestImage()}"
                                 alt="Profile">
                            <a th:href="@{'/quest/' + ${quest.questUrl}}" href="assets/img/portfolio/portfolio-2.jpg"
                               class="link-preview portfolio-lightbox" data-gallery="portfolioGallery"
                               title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4 th:text="${quest.questTitle}"></h4>
                            <p th:text="${quest.questIntroduce}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example" th:if="${questList.getTotalElements()} > 0">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!questList.hasPrevious()} ? disabled">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${questList.getNumber() - 1}}"
                           class="page-link">이전</a>
                    </li>

                    <li class="page-item" th:classappend="${pageNumber == questList.getNumber()} ? active"
                        th:each="pageNumber : ${#numbers.sequence(0, questList.getTotalPages() - 1)}">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${pageNumber}}"
                           th:text="${pageNumber+1}" class="page-link" href="#">페이징번호</a>
                    </li>

                    <li class="page-item" th:classappend="${!questList.hasNext()} ? disabled">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${questList.getNumber() + 1}}"
                           class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>


</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
</html>