<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>


<main id="main" class="main">

    <!-- 퀘스트 리스트 -->
    <section id="portfolio" class="portfolio">
        <div class="container col-xl-12">
            <div class="pagetitle">
                <span th:if="${(searchTitle.isEmpty())}" th:text="|총 ${questList.getTotalElements()} 개의 퀘스트가 있습니다.|"></span>
                <span th:unless="${(searchTitle.isEmpty())}" th:text="|${searchTitle}에 대한 검색결과입니다. (${questList.getTotalElements()}개)|"></span>
            </div>

            <!-- 퀘스트 리스트 -->
            <div class="row portfolio-container">
                <div sec:authorize="isAuthenticated()" th:each="quest: ${questList.getContent()}"
                     class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img th:if="${#strings.isEmpty(quest.questImage)}" src="/assets/img/logo.png" alt="Profile" class="mainPage-card-img">
                            <img th:if="${!#strings.isEmpty(quest.questImage)}" th:src="${quest.getQuestImage()}"
                                 alt="Profile" class="mainPage-card-img">
                            <div th:if="${!quest.compareDate()}" th:classappend="${!quest.compareDate()} ? 'quest-end'">
                                <p></p>
                                <p>기한 마감</p>
                            </div>
                            <a th:href="@{'/quest/' + ${quest.questUrl}}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery"
                               title="퀘스트 입장"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="상세 정보" data-bs-toggle="modal" th:attr="data-bs-target='#questInfo'+${quest.id}"><i
                                    class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4 th:text="${quest.questTitle}"></h4>
                            <div style="display: inline" th:each="tag : ${quest.tags()}">
                                <a th:href="@{'/search/list?title=%23' + ${tag.renameTitle()}}">
                                    <small style="color: gray" th:text="${tag.getTitle()}"
                                           onmouseover="this.style.textDecoration='underline'"
                                           onmouseout="this.style.textDecoration=''">questTag</small>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- 퀘스트 상세 정보 모달창 -->
                    <div class="modal fade" th:id="'questInfo' + ${quest.id}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">퀘스트 정보</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="col-form-label">제목</label>
                                        <span class="form-control" th:text="${quest.getQuestTitle()}">퀘스트 제목</span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">소개</label>
                                        <span class="form-control" th:text="${quest.getQuestExplain()}">퀘스트 소개</span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">기한</label>
                                        <span class="form-control" th:text="|${quest.getQuestStartTime()} 부터 ${quest.getQuestEndTime()}|">기한</span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">해시태그</label>
                                        <span class="form-control" th:text="${quest.returnTags()}">퀘스트 태그</span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">모집 상태</label>
                                        <span class="form-control" th:if="${quest.questRecruitEnd == true}">모집중</span>
                                        <span class="form-control" th:if="${quest.questRecruitEnd == false}">모집 마감</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
                                    <a th:href="@{'/quest/' + ${quest.questUrl}}" class="btn btn-primary">들어가기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <nav aria-label="Page navigation example" th:if="${questList.getTotalElements()} > 0">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!questList.hasPrevious()} ? disabled">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${questList.getNumber() - 1}}"
                           class="page-link">이전</a>
                    </li>

                    <li class="page-item" th:classappend="${pageNumber == questList.getNumber()} ? active"
                        th:each="pageNumber : ${#numbers.sequence(0, questList.getTotalPages() - 1)}">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${pageNumber}}"
                           th:text="${pageNumber+1}" class="page-link" href="#">페이징번호</a>
                    </li>

                    <li class="page-item" th:classappend="${!questList.hasNext()} ? disabled">
                        <a th:href="@{'/search/list?title=' + ${searchTitle} + '&page=' + ${questList.getNumber() + 1}}"
                           class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>


</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
</html>