<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>

    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">OneQuest</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">회원 가입</h5>
                    <p class="text-center small">회원가입 페이지입니다</p>
                  </div>

                  <form class="row g-3 needs-validation" th:action="@{/sign-up}" th:object="${memberDto}"  method="post" novalidate>
                    <div class="col-12">
                      <label for="nickname" class="form-label">닉네임</label>
                      <input type="text" name="nickname" class="form-control" id="nickname" th:field="*{nickname}" required>
                      <div class="invalid-feedback">닉네임을 입력하시오</div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">이메일</label>
                      <input type="email" name="email" class="form-control" id="email" th:field="*{email}" required>
                      <div class="invalid-feedback">이메일을 입력하시오</div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">비밀번호</label>
                      <input type="password" name="password" class="form-control" id="password" th:field="*{password}" required>
                      <div class="invalid-feedback">비밀번호를 입력하시오</div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                    </div>

                    <div class="col-12">
                      <label for="address" class="form-label">주소</label>
                      <input type="address" name="address" class="form-control" id="address" th:field="*{address}" required>
                      <div class="invalid-feedback">주소를 입력하시오!</div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address Error</small>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">회원 가입</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">아이디가 이미 있으신가요? <a th:href="@{/login}">로그인</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

        </div>

      </section>
        <div th:replace="fragments.html :: footer"></div>
    </div>



    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>