<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main id="main" class="main">

    <div class="card mb-2 text-align">
        <h4 class="mt-2" th:text="${quest.questTitle}"></h4>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <a href="#" th:href="@{'/profile/' + ${authPost.writer.nickname}}">
                <span>
                    <img th:if="${#strings.isEmpty(authPost.writer.profileImage)}" src="/assets/img/logo.png"
                         alt="Profile" class="rounded-circle profile-image">
                    <img th:if="${!#strings.isEmpty(authPost.writer.profileImage)}"
                         th:src="${authPost.writer.profileImage}" alt="Profile"
                         class="rounded-circle profile-image"> <span class="badge bg-primary"
                                                                     th:text="${authPost.writer.nickname}"></span>
                </span>
            </a>
        </div>
        <div class="card-body">
            <div class="card-title">
                <span class="size-font" th:text="${authPost.title}"></span>
                <div class="dropdown float-right" sec:authorize="isAuthenticated()"
                     th:if="${authPost.writer.nickname == member.nickname && quest.isMember(#authentication.principal)}">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#"
                               th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authPost.id} + '/delete'}">포스트
                                삭제</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                               th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authPost.id} + '/update'}">포스트
                                수정</a>
                        </li>
                    </ul>
                </div>
            </div>
            <img th:if="${!#strings.isEmpty(authPost.postImage)}" th:src="${authPost.postImage}" class="post-image">
            <p th:text="${authPost.content}"></p>
        </div>
        <div class="card-footer">
            <span>게시일:</span> <span class="yearDateTime" th:text="${authPost.postTime}"></span>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">댓글창</h5>
            <table class="table table-hover">
                <tbody>
                <tr th:each="comment: ${commentList}">
                    <td>
                        <a href="#" th:href="@{'/profile/' + ${comment.writer.nickname}}">
                            <span>
                                <img th:if="${#strings.isEmpty(comment.writer.profileImage)}" src="/assets/img/logo.png"
                                     alt="Profile" class="rounded-circle profile-image">
                                <img th:if="${!#strings.isEmpty(comment.writer.profileImage)}"
                                     th:src="${comment.writer.profileImage}"
                                     alt="Profile" class="rounded-circle profile-image">
                                <span class="badge bg-primary" th:text="${comment.writer.nickname}"></span>
                            </span>
                        </a>
                    </td>
                    <td th:text="${comment.content}">내용</td>
                    <td class="time" th:text="${comment.postTime}">댓글 작성 시간</td>
                    <td>
                        <form th:action="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authPost.id} + '/comment/delete/' + ${comment.id}}"
                              th:method="delete">
                            <button th:if="${member.nickname == comment.writer.nickname}" class="bi bi-x btn-delete"
                                    type="submit"></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mb-2 mt-1">
        <div class="card-header bg-light">댓글 작성</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-inline mb-2">
                            <span>
                                <img th:if="${#strings.isEmpty(member.profileImage)}" src="/assets/img/logo.png"
                                     alt="Profile" class="rounded-circle profile-image">
                                <img th:if="${!#strings.isEmpty(member.profileImage)}" th:src="${member.profileImage}"
                                     alt="Profile" class="rounded-circle profile-image">
                                <span class="badge bg-primary" th:text="${member.nickname}"></span>
                            </span>
                    </div>
                    <form th:action="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authPost.id} + '/comment'}"
                          th:object="${commentDto}" method="post">
                        <textarea class="form-control needs-validation" id="exampleFormControlTextarea1" rows="3"
                                  th:field="*{content}"></textarea>
                        <button type="submit" class="btn btn-primary mt-3">작성</button>
                        <small class="invalid-feedback">댓글제한100자</small>
                    </form>
                </li>
            </ul>
        </div>
    </div>


</main>




</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        moment.locale('ko');
        $(".time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('MMMM Do, h:mm');
        });
        $(".yearDateTime").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('L h:mm');
        });

    })
</script>
</html>