<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <title>"myQuestPage"</title>
</head>

<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar"></div>

<main class="main" id="main">

    <!-- 퀘스트 리스트 -->
    <section class="portfolio" id="portfolio">
        <div class="container col-xl-12">
            <div class="section-title">
                <h2>내가 참여한 퀘스트 목록</h2>
                <p>퀘스트를 추가하려면 퀘스트 생성페이지로 이동하세요</p>
            </div>

            <div class="row">
                <div class="col-lg-12" th:if="${questList.size > 0}">
                    <ul id="portfolio-flters">
                        <li class="filter-active" data-filter="*">All</li>
                        <li data-filter=".filter-go">진행중인 퀘스트</li>
                        <li data-filter=".filter-end">종료된 퀘스트</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.1s"
                     sec:authorize="isAuthenticated()"
                     th:classappend="${quest.compareDate()} ? 'filter-go' : 'filter-end'" th:each="quest: ${questList}">
                    <div class="portfolio-wrap">
                        <figure>
                            <img alt="Profile" src="/assets/img/logo.png" th:if="${#strings.isEmpty(quest.questImage)}">
                            <img alt="Profile" th:if="${!#strings.isEmpty(quest.questImage)}"
                                 th:src="${quest.getQuestImage()}">
                            <a class="link-preview portfolio-lightbox" data-gallery="portfolioGallery"
                               href="assets/img/portfolio/portfolio-2.jpg" th:href="@{'/quest/' + ${quest.questUrl}}"
                               title="Preview"><i class="bx bx-plus"></i></a>
                            <a class="link-details" href="portfolio-details.html" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4 th:text="${quest.questTitle}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments.html :: footer"></div>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
</html>