<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: nav"></div>
    <div th:replace="fragments.html :: sidebar"></div>


    <div class="hero">
        <img th:if="${#strings.isEmpty(quest.questImage)}" src="/assets/img/logo.png" alt="Profile">
        <img th:if="${!#strings.isEmpty(quest.questImage)}" th:src="${quest.questImage}" alt="Profile">
        <h3 class="text1" th:text="${quest.questTitle}"></h3>
        <h3 class="text2"><span th:text="${quest.questStartTime}"></span> ~ <span th:text="${quest.questEndTime}"></span></h3>
        <a href="#about" th:if="${!quest.isJoinable(#authentication.principal)}" class="btn-get-started scrollto">멤버
            초대</a>
        <a href="#about" th:if="${quest.isJoinable(#authentication.principal)}"
           th:href="@{'/quest/' + ${quest.questUrl} + '/join'}" class="btn-get-started scrollto">퀘스트 가입</a>
    </div>

    <main id="main" class="main">
     <div>
         <div sec:authorize="isAuthenticated()" class="card" style="margin-top: -30px">
            <div class="card-body">
              <h5 class="card-title">회원목록</h5>
                <a href="#about" th:each="member: ${quest.questMember}" th:href="@{'/profile/' + ${member.getNickname()}}">
              <span>
                  <img th:if="${#strings.isEmpty(member.profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                  <img th:if="${!#strings.isEmpty(member.profileImage)}" th:src="${member.profileImage}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                  <span class="badge bg-primary" th:text="${member.nickname}"></span>
              </span>
                </a>
            </div>
         </div>

         <button sec:authorize="isAuthenticated()" th:if="${quest.questMaster == member.nickname && quest.isMember(#authentication.principal)}" class="btn btn-primary">
             <a th:href="@{'/quest/' + ${quest.questUrl} + '/update'}" class="btn-quest-view-a">퀘스트 수정</a>
         </button>

         <button  sec:authorize="isAuthenticated()" th:if="${quest.isMember(#authentication.principal)}" class="btn btn-danger">
             <a th:href="@{'/quest/' + ${quest.questUrl} + '/withdraw'}" class="btn-quest-view-a">퀘스트 탈퇴</a>
         </button>

         <div class="row mt-4">
             <div class="col-xl-12">
                 <div class="card">
                     <div class="card-body">
                         <h5 class="card-title"></h5>
                         <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                             <li class="nav-item flex-fill" role="presentation">
                                 <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                         data-bs-target="#home-justified" type="button" role="tab" aria-controls="home"
                                         aria-selected="true">커뮤니티</button>
                             </li>
                             <li class="nav-item flex-fill" role="presentation">
                                 <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                         data-bs-target="#profile-justified" type="button" role="tab"
                                         aria-controls="profile" aria-selected="false">인증
                                 </button>
                             </li>
                             <li class="nav-item flex-fill" role="presentation">
                                 <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                         data-bs-target="#contact-justified" type="button" role="tab"
                                         aria-controls="contact" aria-selected="false">랭킹
                                 </button>
                             </li>
                         </ul>

                         <div class="tab-content pt-2" id="myTabjustifiedContent">
                             <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
                                 <button sec:authorize="isAuthenticated()"
                                         th:if="${quest.isMember(#authentication.principal)}"
                                         class="btn btn-primary mt-3 mb-3">
                                     <a th:href="@{'/quest/' + ${quest.questUrl} + '/post'}" class="btn-quest-view-a">포스팅하기</a>
                                 </button>

                                 <button sec:authorize="isAuthenticated()"
                                         th:if="${quest.questMaster == member.nickname && quest.isMember(#authentication.principal)}"
                                         class="btn btn-success mt-3 mb-3">
                                     <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/notice'}"
                                        class="btn-quest-view-a">공지사항 포스팅하기</a>
                                 </button>
                                 <div class="card" sec:authorize="isAuthenticated()" th:each="questPost: ${questPostList}" th:if="${questPost.notice} == true">
                                         <div class="card-header">
                                          <span>
                                              <i class="bi bi-bell fs-5"><span>공지</span></i>
                                          </span>
                                         </div>
                                         <div class="card-body">
                                             <h5 class="card-title" th:text="${questPost.title}">타이틀</h5>
                                             <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/' + ${questPost.id}}">
                                                 <img th:if="${!#strings.isEmpty(questPost.postImage)}" th:src="${questPost.postImage}" alt="Profile" style="width: 100px; height: 100px">
                                                 <p th:text="${questPost.content}">컨텐트</p>
                                             </a>

                                         </div>
                                         <div class="card-footer">
                                             <span>작성일:</span> <span class="yearDateTime" th:text="${questPost.postTime}"></span>
                                         </div>
                                     </div>
                                 <div class="card" sec:authorize="isAuthenticated()" th:each="questPost: ${questPostList}" th:if="${questPost.notice} == false">
                                         <div class="card-header">
                                             <a href="#about" th:href="@{'/profile/' + ${questPost.writer.nickname}}">
                                              <span>
                                                  <img th:if="${#strings.isEmpty(questPost.writer.profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                                  <img th:if="${!#strings.isEmpty(questPost.writer.profileImage)}" th:src="${questPost.writer.profileImage}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                                  <span class="badge bg-primary" th:text="${questPost.writer.nickname}"></span>
                                              </span>
                                             </a>
                                         </div>
                                         <div class="card-body">
                                             <h5 class="card-title" th:text="${questPost.title}">타이틀</h5>
                                             <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/' + ${questPost.id}}">
                                                 <img th:if="${!#strings.isEmpty(questPost.postImage)}" th:src="${questPost.postImage}" alt="Profile" style="width: 100px; height: 100px">
                                                 <p th:text="${questPost.content}">컨텐트</p>
                                             </a>
                                         </div>
                                     <div class="card-footer">
                                         <span>작성일:</span> <span class="yearDateTime" th:text="${questPost.postTime}"></span>
                                     </div>
                                     </div>
                             </div>
                             <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
                                 <button sec:authorize="isAuthenticated()" th:if="${quest.isMember(#authentication.principal)}" class="btn btn-primary mt-3 mb-3">
                                     <a th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post'}" class="btn-quest-view-a">인증하기</a>
                                 </button>
                                 <div class="card" sec:authorize="isAuthenticated()" th:each="authpost: ${authPostList}">
                                     <div class="card-header">
                                         <a href="#about" th:href="@{'/profile/' + ${authpost.writer.nickname}}">
                                              <span>
                                                  <img th:if="${#strings.isEmpty(authpost.writer.profileImage)}"
                                                       src="/assets/img/logo.png" alt="Profile" class="rounded-circle"
                                                       style="width: 30px; height: 30px">
                                                  <img th:if="${!#strings.isEmpty(authpost.writer.profileImage)}"
                                                       th:src="${authpost.writer.profileImage}" alt="Profile"
                                                       class="rounded-circle" style="width: 30px; height: 30px">
                                                  <span class="badge bg-primary"
                                                        th:text="${authpost.writer.nickname}"></span>
                                              </span>
                                         </a>
                                     </div>
                                     <div class="card-body">
                                         <h5 class="card-title" th:text="${authpost.title}">타이틀</h5>
                                         <a th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authpost.id}}">
                                             <img th:if="${!#strings.isEmpty(authpost.postImage)}"
                                                  th:src="${authpost.postImage}" alt="Profile"
                                                  style="width: 100px; height: 100px">
                                             <p th:text="${authpost.content}">컨텐트</p>
                                         </a>
                                     </div>
                                     <div class="card-footer">
                                         <span>작성일:</span> <span class="yearDateTime" th:text="${authpost.postTime}"></span>
                                     </div>
                                 </div>
                             </div>
                             <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
                                 Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque.
                                 Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit
                                 molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
                             </div>
                         </div><!-- End Default Tabs -->
                     </div>
                 </div>
             </div>
         </div>

    </div>
    </main>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        moment.locale('ko');
        $(".time").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('MMMM Do, h:mm');
        });
        $(".yearDateTime").text(function (index, dateTime) {
            return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL h:mm');
        });

    })
</script>
</html>