<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar-quest"></div>

<!-- 퀘스트 배너 -->
<div class="hero">
    <img th:if="${#strings.isEmpty(quest.questImage)}" src="/assets/img/logo.png" alt="Profile">
    <img th:if="${!#strings.isEmpty(quest.questImage)}" th:src="${quest.questImage}" alt="Profile">
    <h3 class="text1" th:text="${quest.questTitle}"></h3>
    <h3 class="text2"><span th:text="${quest.questStartTime}"></span> ~ <span th:text="${quest.questEndTime}"></span>
    </h3>
    <a th:if="${quest.isMember(#authentication.principal) and quest.questRecruitEnd == true}" class="btn-get-started"
       data-bs-toggle="modal" data-bs-target="#memberInvite">멤버 초대</a>
    <a th:if="${quest.isMember(#authentication.principal) and quest.questRecruitEnd == false}" class="btn-get-started">모집
        마감</a>
    <a th:if="${!quest.isMember(#authentication.principal) && quest.questRecruitEnd == true && quest.joinType == T(com.oneqst.quest.domain.JoinType).NORMAL}"
       th:href="@{'/quest/' + ${quest.questUrl} + '/join'}" class="btn-get-started scrollto">퀘스트 가입</a>
    <a th:if="${!quest.isMember(#authentication.principal) && quest.questRecruitEnd == true && quest.joinType == T(com.oneqst.quest.domain.JoinType).WAITING}"
       th:href="@{'/quest/' + ${quest.questUrl} + '/join/application/' + ${member.getNickname()}}"
       class="btn-get-started scrollto">퀘스트 가입</a>
    <a th:if="${!quest.isMember(#authentication.principal) and quest.questRecruitEnd == false}" class="btn-get-started">모집
        마감</a>
</div>

<!-- 퀘스트 멤버 초대 모달창 -->
<div class="modal fade" id="memberInvite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">멤버 초대</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/quest/' + ${quest.questUrl} + '/invite'}" th:object="${inviteDto}" method="post"
                  novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">주소를 복사해 초대해보세요</label>
                        <span class="form-control" id="recipient-name">localhost:8080/quest/<span
                                th:text="${quest.questUrl}"></span></span>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">닉네임 혹은 이메일</label>
                        <input class="form-control" id="message-text" th:field="*{nickNameOrEmail}">
                        <div class="invalid-feedback">닉네임혹은 이메일을 입력하시오</div>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickNameOrEmail')}"
                               th:errors="*{nickNameOrEmail}">input Error</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
                    <button type="submit" class="btn btn-primary">초대 발송</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 퀘스트 탈퇴 모달창 -->
<div class="modal fade" id="questWithdraw" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퀘스트 삭제</h5>
            </div>
            <div class="modal-body">
                정말로 탈퇴하시겠습니까?
            <br>
                이 퀘스트에서 한 활동과 인증 점수가 소멸됩니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                <a th:href="@{'/quest/' + ${quest.questUrl} + '/withdraw'}" class="btn btn-primary">예</a>
            </div>
        </div>
    </div>
</div>

<main id="main" class="main">
    <div>
        <div sec:authorize="isAuthenticated()" class="card" style="margin-top: -30px">
            <!-- 회원 목록 -->
            <div class="card-body">
                <h5 class="card-title">회원목록</h5>
                <span>호스트 : </span>
                <a href="#about" th:href="@{'/profile/' + ${quest.getQuestHost().getNickname()}}">
              <span>
                  <img th:if="${#strings.isEmpty(quest.getQuestHost().profileImage)}" src="/assets/img/logo.png"
                       alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <img th:if="${!#strings.isEmpty(quest.getQuestHost().profileImage)}"
                       th:src="${quest.getQuestHost().profileImage}" alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <span class="badge bg-danger" th:text="${quest.getQuestHost().nickname}"></span>
              </span>
                </a>
                <p></p>
                <span>관리자 : </span>
                <a href="#about" th:each="member: ${quest.questMaster}"
                   th:href="@{'/profile/' + ${member.getNickname()}}">
              <span>
                  <img th:if="${#strings.isEmpty(member.profileImage)}" src="/assets/img/logo.png" alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <img th:if="${!#strings.isEmpty(member.profileImage)}" th:src="${member.profileImage}" alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <span class="badge bg-success" th:text="${member.nickname}"></span>
              </span>
                </a>
                <p></p>
                <span>회원 : </span>
                <a href="#about" th:each="member: ${quest.questMember}"
                   th:href="@{'/profile/' + ${member.getNickname()}}" th:if="${!quest.isHostOrMaster(member)}">
              <span>
                  <img th:if="${#strings.isEmpty(member.profileImage)}" src="/assets/img/logo.png" alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <img th:if="${!#strings.isEmpty(member.profileImage)}" th:src="${member.profileImage}" alt="Profile"
                       class="rounded-circle" style="width: 30px; height: 30px">
                  <span class="badge bg-primary" th:text="${member.nickname}"></span>
              </span>
                </a>
            </div>
        </div>

        <br style="border: 5px">

        <div class="card" style="margin-top: -30px">
            <div class="card-body">
                <h5 class="card-title">퀘스트 설명</h5>
                <p th:text="${quest.questExplain}"></p>
                <h5 class="card-title">태그</h5>
                <div style="display: inline" th:each="tag : ${quest.tags()}">
                    <a th:href="@{'/search/list?title=%23' + ${tag.renameTitle()}}">
                        <small style="color: gray" th:text="${tag.getTitle()}"
                               onmouseover="this.style.textDecoration='underline'"
                               onmouseout="this.style.textDecoration=''">questTag</small>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <!-- 탭 리스트 -->
                        <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-justified" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">커뮤니티
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-justified" type="button" role="tab"
                                        aria-controls="profile" aria-selected="false">인증
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact-justified" type="button" role="tab"
                                        aria-controls="contact" aria-selected="false">랭킹
                                </button>
                            </li>
                        </ul>

                        <!-- 탭 내용 -->
                        <div class="tab-content pt-2" id="myTabjustifiedContent">
                            <!-- 커뮤니티 탭 -->
                            <div class="tab-pane fade show active" id="home-justified" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <!-- 포스팅 버튼 -->
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${quest.isMember(#authentication.principal)}"
                                        class="btn btn-primary mt-3 mb-3">
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/post'}" class="btn-quest-view-a">포스팅하기</a>
                                </button>

                                <!-- 공지사항 버튼 -->
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${quest.isHostOrMaster(member) && quest.isMember(#authentication.principal)}"
                                        class="btn btn-success mt-3 mb-3">
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/notice'}"
                                       class="btn-quest-view-a">공지사항 포스팅하기</a>
                                </button>
                                <!-- 공지사항 게시글 -->
                                <div class="card" sec:authorize="isAuthenticated()"
                                     th:each="questPost: ${questPostList}" th:if="${questPost.notice} == true">
                                    <div class="card-header">
                                          <span>
                                              <i class="bi bi-bell fs-5"><span>공지</span></i>
                                          </span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${questPost.title}">타이틀</h5>
                                        <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/' + ${questPost.id}}">
                                            <img th:if="${!#strings.isEmpty(questPost.postImage)}"
                                                 th:src="${questPost.postImage}" alt="Profile"
                                                 style="width: 100px; height: 100px">
                                            <p th:text="${questPost.content}">컨텐트</p>
                                        </a>

                                    </div>
                                    <div class="card-footer">
                                        <span>작성일:</span> <span class="yearDateTime"
                                                                th:text="${questPost.postTime}"></span>
                                    </div>
                                </div>
                                <!-- 포스팅 게시글 -->
                                <div class="card" sec:authorize="isAuthenticated()"
                                     th:each="questPost: ${questPostList}" th:if="${questPost.notice} == false">
                                    <div class="card-header">
                                        <a href="#about" th:href="@{'/profile/' + ${questPost.writer.nickname}}">
                                              <span>
                                                  <img th:if="${#strings.isEmpty(questPost.writer.profileImage)}"
                                                       src="/assets/img/logo.png" alt="Profile" class="rounded-circle"
                                                       style="width: 30px; height: 30px">
                                                  <img th:if="${!#strings.isEmpty(questPost.writer.profileImage)}"
                                                       th:src="${questPost.writer.profileImage}" alt="Profile"
                                                       class="rounded-circle" style="width: 30px; height: 30px">
                                                  <span class="badge"
                                                        th:text="${questPost.writer.nickname}"
                                                        th:classappend="|${questPost.writer.equals(quest.questHost) ? 'bg-danger' : ''} ${quest.questMaster.contains(questPost.writer) ? 'bg-success' : 'bg-primary'}|">
                                                  </span>
                                              </span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${questPost.title}">타이틀</h5>
                                        <a th:href="@{'/quest/' + ${quest.questUrl} + '/post/' + ${questPost.id}}">
                                            <img th:if="${!#strings.isEmpty(questPost.postImage)}"
                                                 th:src="${questPost.postImage}" alt="Profile"
                                                 style="width: 100px; height: 100px">
                                            <p th:text="${questPost.content}">컨텐트</p>
                                        </a>
                                    </div>
                                    <div class="card-footer">
                                        <span>작성일:</span> <span class="yearDateTime"
                                                                th:text="${questPost.postTime}"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- 인증 탭 -->
                            <div class="tab-pane fade" id="profile-justified" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${quest.isMember(#authentication.principal)}"
                                        class="btn btn-primary mt-3 mb-3">
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post'}"
                                       class="btn-quest-view-a">인증하기</a>
                                </button>
                                <div class="card" sec:authorize="isAuthenticated()" th:each="authpost: ${authPostList}">
                                    <div class="card-header">
                                        <a href="#about" th:href="@{'/profile/' + ${authpost.writer.nickname}}">
                                              <span>
                                                  <img th:if="${#strings.isEmpty(authpost.writer.profileImage)}"
                                                       src="/assets/img/logo.png" alt="Profile" class="rounded-circle"
                                                       style="width: 30px; height: 30px">
                                                  <img th:if="${!#strings.isEmpty(authpost.writer.profileImage)}"
                                                       th:src="${authpost.writer.profileImage}" alt="Profile"
                                                       class="rounded-circle" style="width: 30px; height: 30px">
                                                  <span class="badge"
                                                        th:text="${authpost.writer.nickname}"
                                                        th:classappend="|${authpost.writer.equals(quest.questHost) ? 'bg-danger' : ''} ${quest.questMaster.contains(authpost.writer) ? 'bg-success' : 'bg-primary'}|">
                                                  </span>
                                              </span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${authpost.title}">타이틀</h5>
                                        <a th:href="@{'/quest/' + ${quest.questUrl} + '/auth/post/' + ${authpost.id}}">
                                            <img th:if="${!#strings.isEmpty(authpost.postImage)}"
                                                 th:src="${authpost.postImage}" alt="Profile"
                                                 style="width: 100px; height: 100px">
                                            <p th:text="${authpost.content}">컨텐트</p>
                                            <p th:if="${authpost.isConfirm()}">인증 완료된 게시물 입니다.</p>
                                            <button class="btn btn-outline-success"
                                                    th:if="${!authpost.isConfirm() and quest.isHostOrMaster(member)}">
                                                <a th:href="@{'/quest/' + ${quest.questUrl} + '/auth/' + ${authpost.id} + '/score'}">인증처리</a>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="card-footer">
                                        <span>작성일:</span> <span class="yearDateTime"
                                                                th:text="${authpost.postTime}"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- 랭킹 탭 -->
                            <div class="tab-pane fade" id="contact-justified" role="tabpanel"
                                 aria-labelledby="contact-tab">
                                <div class="card-body">
                                    <h5 class="card-title">나의 랭킹은?</h5>

                                    <!-- 1~3등 -->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="leaderboard-card">
                                                <div class="leaderboard-card__top">
                                                    <h3 class="text-center">🥈</h3>
                                                </div>
                                                <div class="leaderboard-card__body">
                                                    <div class="text-center" th:if="${scoreMap.size() > 1}">
                                                        <a th:href="@{'/profile/' + ${scoreMap[1].key.getNickname()}}">
                                                            <img th:if="${#strings.isEmpty(scoreMap[1].key.profileImage)}"
                                                                 src="/assets/img/logo.png" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <img th:if="${!#strings.isEmpty(scoreMap[1].key.profileImage)}"
                                                                 th:src="${scoreMap[1].key.profileImage}" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <h5 class="mb-0" th:text="${scoreMap[1].key.getNickname()}">
                                                                2등 유저</h5></a>
                                                        <p class="text-muted mb-0" th:text="|${scoreMap[1].value}점|">
                                                            점수</p>
                                                        <hr>
                                                    </div>
                                                    <div class="text-center" th:unless="${scoreMap.size() > 1}">
                                                        <img src="/assets/img/logo.png" alt="Profile"
                                                             class="circle-img mb-2">
                                                        <h5 class="mb-0">공석</h5></a>
                                                        <p class="text-muted mb-0">&nbsp;</p>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="leaderboard-card leaderboard-card--first">
                                                <div class="leaderboard-card__top">
                                                    <h3 class="text-center">🥇</h3>
                                                </div>
                                                <div class="leaderboard-card__body">
                                                    <div class="text-center" th:if="${scoreMap.size() > 0}">
                                                        <a th:href="@{'/profile/' + ${scoreMap[0].key.getNickname()}}">
                                                            <img th:if="${#strings.isEmpty(scoreMap[0].key.profileImage)}"
                                                                 src="/assets/img/logo.png" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <img th:if="${!#strings.isEmpty(scoreMap[0].key.profileImage)}"
                                                                 th:src="${scoreMap[0].key.profileImage}" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <h5 class="mb-0" th:text="${scoreMap[0].key.getNickname()}">
                                                                1등 유저</h5></a>
                                                        <p class="text-muted mb-0" th:text="|${scoreMap[0].value}점|">
                                                            점수</p>
                                                        <hr>
                                                    </div>
                                                    <div class="text-center" th:unless="${scoreMap.size() > 0}">
                                                        <img src="/assets/img/logo.png" alt="Profile"
                                                             class="circle-img mb-2">
                                                        <h5 class="mb-0">공석</h5></a>
                                                        <p class="text-muted mb-0">&nbsp;</p>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="leaderboard-card">
                                                <div class="leaderboard-card__top">
                                                    <h3 class="text-center">🥉</h3>
                                                </div>
                                                <div class="leaderboard-card__body">
                                                    <div class="text-center" th:if="${scoreMap.size() > 2}">
                                                        <a th:href="@{'/profile/' + ${scoreMap[2].key.getNickname()}}">
                                                            <img th:if="${#strings.isEmpty(scoreMap[2].key.profileImage)}"
                                                                 src="/assets/img/logo.png" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <img th:if="${!#strings.isEmpty(scoreMap[2].key.profileImage)}"
                                                                 th:src="${scoreMap[2].key.profileImage}" alt="Profile"
                                                                 class="circle-img mb-2">
                                                            <h5 class="mb-0" th:text="${scoreMap[2].key.getNickname()}">
                                                                3등 유저</h5></a>
                                                        <p class="text-muted mb-0" th:text="|${scoreMap[2].value}점|">
                                                            점수</p>
                                                        <hr>
                                                    </div>
                                                    <div class="text-center" th:unless="${scoreMap.size() > 2}">
                                                        <img src="/assets/img/logo.png" alt="Profile"
                                                             class="circle-img mb-2">
                                                        <h5 class="mb-0">공석</h5></a>
                                                        <p class="text-muted mb-0">&nbsp;</p>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 4등부터 전체유저 -->
                                    <table class="table table-striped ranking-table" th:if="${scoreMap.size() >= 4}">
                                        <thead>
                                        <tr>
                                            <th scope="col">순위</th>
                                            <th scope="col">닉네임</th>
                                            <th scope="col">점수</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="num : ${#numbers.sequence(3,scoreMap.size()-1)}">
                                            <th scope="row" th:text="${num+1}">순위</th>
                                            <td>
                                                <a href="#about"
                                                   th:href="@{'/profile/' + ${scoreMap[num].key.nickname}}">
                                                     <span>
                                                      <img th:if="${#strings.isEmpty(scoreMap[num].key.profileImage)}"
                                                           src="/assets/img/logo.png" alt="Profile"
                                                           class="rounded-circle" style="width: 30px; height: 30px">
                                                        <img th:if="${!#strings.isEmpty(scoreMap[num].key.profileImage)}"
                                                             th:src="${scoreMap[num].key.profileImage}" alt="Profile"
                                                             class="rounded-circle" style="width: 30px; height: 30px">
                                                      <span th:text="${scoreMap[num].key.nickname}"
                                                            th:classappend="|${scoreMap[num].key.equals(quest.questHost) ? 'bg-danger' : ''} ${quest.questMaster.contains(scoreMap[num].key) ? 'bg-success' : 'bg-primary'}|"
                                                            class="badge">차광욱</span>
                                                     </span>
                                                </a>
                                            </td>
                                            <td th:text="${scoreMap[num].value}">점수</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

</body>
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:replace="fragments.html :: timeFormat"></script>
</html>