<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments.html :: head">
</head>
<body>

<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar-quest"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <a href="#" th:href="@{'/quest/' + ${quest.questUrl}}">
            <h1 th:text="${quest.questTitle}">퀘스트 제목</h1>
        </a>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">

                    <!-- 보드 탭 -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/auth'}">회원관리</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/recruitment'}">모집설정</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/join/application'}">신청관리</a>
                        </li>
                    </ul>

                    <!-- 회원관리 탭 -->
                    <div class="tab-content pt-2">
                        <div>
                            <!-- 호스트 -->
                            <h5 class="card-title">호스트</h5>
                            <p class="small fst-italic">퀘스트의 주인입니다.</p>
                            <a href="#about" th:href="@{'/profile/' + ${quest.getQuestHost().nickname}}">
                                <span>
                                    <img th:if="${#strings.isEmpty(quest.getQuestHost().profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                    <img th:if="${!#strings.isEmpty(quest.getQuestHost().profileImage)}" th:src="${quest.getQuestHost().profileImage}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                <span class="badge bg-danger" th:text="${quest.getQuestHost().nickname}"></span>
                                </span>
                            </a>

                            <!-- 매니저 리스트 -->
                            <h5 class="card-title">매니저</h5>
                            <p class="small fst-italic">매니저는 퀘스트 인증 및 공지사항, 회원을 관리할 수 있습니다.</p>

                            <div class="row" th:each="manager: ${masterList}">
                                <div class="col-lg-3 col-md-4 label mb-2">
                                    <a href="#about" th:href="@{'/profile/' + ${manager.getNickname()}}">
                                <span>
                                    <img th:if="${#strings.isEmpty(manager.profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                    <img th:if="${!#strings.isEmpty(manager.profileImage)}" th:src="${manager.profileImage}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                <span class="badge bg-success" th:text="${manager.nickname}"></span>
                                </span>
                                    </a>
                                </div>
                                <div class="col-lg-9 col-md-8 mb-2">
                                    <div class="dropdown" th:if="${quest.questHost.equals(member)}">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" th:href="@{'/quest/' + ${quest.questUrl} + '/relegation/member/' + ${manager.nickname}}">회원으로 강등</a></li>
                                            <li><a class="dropdown-item" th:href="@{'/quest/' + ${quest.questUrl} + '/exile/' + ${manager.nickname}}">추방</a></li>
                                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" th:attr="data-bs-target='#host'+${manager.id}">호스트로 임명</button></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- 호스트 임명 모달창 -->
                                <div class="modal fade" th:id="'host' + ${manager.id}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">호스트 위임</h5>
                                            </div>
                                            <div class="modal-body" th:text="|${quest.questHost.nickname} 에서 ${manager.nickname} 으로 호스트 위임이 맞으시면 '확인' 버튼을 누르세요. 기존 호스트는 매니저로 강등됩니다.|"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
                                                <a th:href="@{'/quest/' + ${quest.questUrl} + '/assign/' + ${manager.nickname}}" class="btn btn-primary">확인</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- 회원 리스트 -->
                            <h5 class="card-title">회원</h5>
                            <p class="small fst-italic">관리자는 악성 회원을 추방시킬수 있습니다. 추방에 조심해주세요.</p>

                            <div class="row" th:each="user: ${memberList}" th:if="${!quest.isHostOrMaster(user)}">
                                <div class="col-lg-3 col-md-4 label mb-2">
                                    <a href="#about" th:href="@{'/profile/' + ${user.getNickname()}}">
                                <span>
                                    <img th:if="${#strings.isEmpty(user.profileImage)}" src="/assets/img/logo.png" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                    <img th:if="${!#strings.isEmpty(user.profileImage)}" th:src="${user.profileImage}" alt="Profile" class="rounded-circle" style="width: 30px; height: 30px">
                                <span class="badge bg-primary" th:text="${user.nickname}"></span>
                                </span>
                                    </a>
                                </div>
                                <div class="col-lg-9 col-md-8 mb-2">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                            <li><a class="dropdown-item" th:href="@{'/quest/' + ${quest.questUrl} + '/add/manager/' + ${user.nickname}}">매니저로 승격</a></li>
                                            <li><a class="dropdown-item" th:href="@{'/quest/' + ${quest.questUrl} + '/exile/' + ${user.nickname}}">추방</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>