<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments.html :: head">
</head>
<body>

<div th:replace="fragments.html :: nav"></div>
<div th:replace="fragments.html :: sidebar-quest"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <a href="#" th:href="@{'/quest/' + ${quest.questUrl}}">
            <h1 th:text="${quest.questTitle}">퀘스트 제목</h1>
        </a>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">

                    <!-- 보드 탭 -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/auth'}">회원관리</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/recruitment'}">모집설정</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/quest/' + ${quest.questUrl} + '/setting/join/application'}">신청관리</a>
                        </li>
                    </ul>

                    <!-- 모집설정 탭 -->
                    <div class="tab-content pt-2">
                        <div>
                            <h5 class="card-title">모집 상태</h5>
                            <p class="small fst-italic">퀘스트 인원 모집 여부를 설정할 수 있습니다.</p>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label mb-2">현재상태 :</div>
                                <div class="col-lg-9 col-md-8 mb-2">
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/recruitment'}" th:if="${quest.questRecruitEnd == true}"  class="btn btn-outline-success">모집 중</a>
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/recruitment'}" th:if="${quest.questRecruitEnd == false}"  class="btn btn-outline-danger">모집 마감</a>
                                </div>
                            </div>

                            <div th:if="${quest.questHost.equals(member)}">
                            <h5 class="card-title">퀘스트 삭제</h5>
                            <p class="small fst-italic">호스트를 제외한 인원이 아무도 없을경우에만 가능합니다.</p>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label mb-2">삭제하기 :</div>
                                <div class="col-lg-9 col-md-8 mb-2">
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/recruitment'}" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target='#delete'>삭제</a>
                                </div>
                            </div>
                            </div>


                        </div>
                    </div>

                    <!-- 퀘스트 삭제 모달창 -->
                    <div class="modal fade" id="delete" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">퀘스트 삭제</h5>
                                </div>
                                <div class="modal-body">정말로 삭제하시겠습니까?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                                    <a th:href="@{'/quest/' + ${quest.questUrl} + '/delete'}" class="btn btn-primary">예</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: timeFormat"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>